---
const canonicalURL = new URL(Astro.url.pathname, Astro.site);

interface Props {
  title: string;
  description?: string;
  image?: string;
}
const { title, description, image } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/x-icon" href="/favicon.ico" />
    <meta name="theme-color" content="#0c1a34" />
    <title>{title}</title>
    <meta name="description" content={description} />
    <meta
      name="robots"
      content="index, follow, max-image-preview:large, max-snippet:-1, max-video-preview:-1"
    />
    <link rel="canonical" href={canonicalURL} />
    <meta property="og:type" content="website" />
    <meta property="og:locale" content="id_ID" />
    <meta property="og:locale:alternate" content="en_GB" />
    <meta property="og:title" content={title} />
    <meta property="og:description" content={description} />
    <meta property="og:site_name" content={title} />
    <meta property="og:url" content={canonicalURL} />
    <meta property="og:image" content={image} />

    <meta name="twitter:creator" content="@sidolapak" />
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:title" content={title} />
    <meta name="twitter:site" content="@sidolapak" />
    <meta name="twitter:description" content={description} />
    <meta name="twitter:url" content={canonicalURL} />
    <meta name="twitter:image" content={image} />

    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png" />
    <link rel="manifest" href="/site.webmanifest" />
    <meta
      name="google-site-verification"
      content="E3UW6oheMDWCwvCKft6i7BeqFeGtx8pxdZ_vkx7dryY"
    />
  </head>
  <body class="min-h-screen bg-black">
    <slot />
  </body>
</html>
